.sidebar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.301);
}

.sidebarContainer{
    display: flex;
    flex-direction: column;
    padding: 5rem;
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    height: 100vh;
    background-color: rgb(245, 245, 245);
}